---
import { Container, FeatureCard} from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Past Events</h2>
			<p>
				Latest News and our upcoming program listed in 2017-2022.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/21APSIC" title="21 APSIC Basic Training Course in Infection Control" imgSrc="https://raw.githubusercontent.com/icamalaysia/webapp/main/theme/public/assets/images/home/screenshots/landing-1.png">
				</FeatureCard>
				<FeatureCard href="/landing-pages/SeminarDS2019" title="Seminar: Infection Control in Dental Service 2019" imgSrc="/assets/images/Seminar_ICAM.png">
				</FeatureCard>
			</div>
		</section>
	</Container>

</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
