---
import { Container, FeatureCard} from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Upcoming Program</h2>
			<p>
				Our upcoming program 2024.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/apsic2024" title="23rd APSIC THE FUTURE OF INFECTION CONTROL 2024" imgSrc="https://i.ibb.co/C6RwM0d/image.png">
				</FeatureCard>
				<FeatureCard href="/landing-pages/atm2024" title="BIA - Autumn Trainee Meeting 2024" imgSrc="https://i.ibb.co/Yj6JDr8/image.png">
				</FeatureCard>
				<FeatureCard href="/landing-pages/capsic2024" title="11th INTERNATIONAL CONGRESS OF ASIA PACIFIC SOCIETY OF INFECTION CONTROL (APSIC) 2024" imgSrc="https://i.ibb.co/JKNLrzH/image.png">
				</FeatureCard>
			</div>
		</section>
	
		<section class="feature-card__section">
			<h2>Past Events</h2>
			<p>
				Latest News and our upcoming program listed in 2017-2022.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/ippft2023" title="Infection Prevention - Planning for Tommorow 2023" imgSrc="https://i.ibb.co/MM7xhJm/IPPFT-1.png">
				</FeatureCard>
				<FeatureCard href="/landing-pages/21APSIC" title="21 APSIC Basic Training Course in Infection Control" imgSrc="/assets/images/home/screenshots/21APSIC_thumbmain">
				</FeatureCard>
				<FeatureCard href="/landing-pages/SeminarDS2019" title="Seminar: Infection Control in Dental Service 2019" imgSrc="/assets/images/home/screenshots/Seminar_ICAM">
				</FeatureCard>
			</div>
		</section>
	</Container>

</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
