---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<AnnouncementBar text="Read Our Latest Blog Post" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>21 APSIC Basic Training Course in Infection Control</h1>
			<p>organized by Infection Control Association Malaysia (ICAM).</p>
		</div>
		<div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Register Now <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/21APSIC_thumb.jpg"
				alt="21APSIC_thumb"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, vero nobis? Voluptas assumenda, voluptatibus commodi qui ducimus delectus praesentium maiores, impedit iure labore ratione, ea facilis numquam doloremque aperiam aspernatur."
		customerName="Happy Customer"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>When?</h2>
			<p>
				31 OCTOBER - 11 NOVEMBER 2022.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>Where?</h2>
			<p>
				PREMIERA HOTEL, KUALA LUMPUR.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>Time?</h2>
			<p>
				8:00 A.M - 5:00 P.M.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection>

	<YouTubeEmbedSection url="https://www.youtube.com/watch?v=cbYr75_R15M" rounded />

  <StickyTextImageSection>
    <div slot="text-container">
      <h3>Course Contents</h3>
      <p>
        This is an intensive course with classroom setting, consisting lectures and
tutorials (course contents will be provided ).Participants are also expected
to visit some critical departments in the hospital to familiarize themselves
with these units before attending the course.

      </p>
      <p>
        The faculty consists of experienced frontline workers with years of
experience in infection control. It includes professionals from many
hospitals and experts in related areas. Many of these are intentionally
known speakers in their fields.
      </p>
      <p>
        Doctors, allied health staff may attend Participants will meet infection
control personnel from many hospitals and will have the opportunity to join
this infection control network of nurses and doctors. This will allow them to
consult one another in their future practice, which is an added advantage
for all practitioners in infection control.
      </p>
	  <p>
        There will be an examination at the end of the course. Participants who are
successful in the examination and complete all required course works and
assignments with an 80 attendance rate of the classes will be awarded a
certificate by the Asia Pacific Society for Infection Control and Infection
Control Association of Malaysia.
      </p>
    </div>
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Start Your Website Today</h2>
    <p>It only takes a couple clicks to have a new, modern website for your business or startup.</p>
    <Button href="/theme/get-started" customIcon>Get Started <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

