import { Icon } from 'astro-icon';
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  ThreeColumnTextSection,
  YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';
import Container from '../../components/Container.astro'; // Make sure to import Container

const seo = {
  title: 'ICAMalaysia',
  description: '23rd APSIC THE FUTURE OF INFECTION CONTROL 2024',
};

---

<Layout seo={seo}>
  <TextAndImageHero reversed>
    <div slot="text-container">
      <h1>23rd APSIC THE FUTURE OF INFECTION CONTROL 2024</h1>
      <p></p>
    </div>
    <div slot="btns-container">
      <Button href="https://pdfupload.io/docs/b6f0b290" customIcon>
        Program Details
        <Icon name="ic:baseline-chevron-right" slot="icon" />
      </Button>
      <Button href="https://form.jotform.com/241428662188463" customIcon>
        Register Now
        <Icon name="ic:baseline-chevron-right" slot="icon" />
      </Button>
    </div>
    <picture slot="image-container">
      <img
        src="https://i.ibb.co/z49cpHx/image.png"
        alt="apsic2023_thumb"
        id="home-hero-image"
      />
    </picture>
  </TextAndImageHero>

  <Container style="width: 100%;">
    <section style="text-align: center;">
      <a href="https://form.jotform.com/241428662188463" style="display: inline-block; margin: 20px 0;">
        <button style="padding: 10px 20px; font-size: 16px;">Register Now</button>
      </a>
      <img src="https://i.ibb.co/2M2w8Nf/image.png" alt="A bird." style="width: 80%;" />
      <img src="https://i.ibb.co/wrVTR0F/image.png" alt="A bird." style="width: 80%;" />
      <img src="https://i.ibb.co/kDxPrZJ/image.png" alt="A bird." style="width: 80%;" />
    </section>
  </Container>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Register Today</h2>
    <p>It only takes a couple clicks to download and sign for your registration.</p>
    <Button href="https://form.jotform.com/241428662188463" customIcon>
      Register Now
      <Icon name="ic:baseline-chevron-right" slot="icon" />
    </Button>
  </CtaCardSection>
</Layout>
