---
import { Icon } from 'astro-icon';
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  ThreeColumnTextSection,
  YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
  title: 'ICAMalaysia | 21 APSIC Basic Training Course in Infection Control',
  description: '23rd APSIC THE FUTURE OF INFECTION CONTROL 2024',
};
---

<Layout seo={seo}>
  <TextAndImageHero reversed>
    <div slot="text-container">
      <h1>23rd APSIC THE FUTURE OF INFECTION CONTROL 2024</h1>
      <p> </p>
    </div>
    <div slot="btns-container">
      <Button href="https://form.jotform.com/241428662188463" customIcon>
        Register Now
      </Button>
    </div>
    <picture slot="image-container">
      <img
        src="https://i.ibb.co/z49cpHx/image.png"
        alt="apsic2023_thumb"
        class="hero-image"
      />
    </picture>
  </TextAndImageHero>

  <div class="image-grid">
    <img
      src="https://i.ibb.co/2M2w8Nf/image.png"
      alt="23APSIC_thumb1"
      class="thumb-image"
    /><br></div>
  <div class="image-grid">
    <img
      src="https://i.ibb.co/wrVTR0F/image.png"
      alt="23APSIC_thumb2"
      class="thumb-image"
    /><br></div>
    <div class="image-grid">
    <img
      src="https://i.ibb.co/kDxPrZJ/image.png"
      alt="23APSIC_thumb3"
      class="thumb-image"
    /></div>
</Layout>

<style>
  .image-grid {
    display: flex;
    justify-content: center;
  }

  .thumb-image {
    margin: 0 10px;
  }

  .hero-image {
    /* Add any necessary styling for the hero image */
  }
</style>
